APP_NAME=CATMIN
APP_ENV=production
APP_DEBUG=0
APP_URL=http://localhost

DB_DRIVER=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=catmin
DB_USERNAME=catmin
DB_PASSWORD=
DB_SQLITE_PATH=db/database.sqlite

ADMIN_PATH=admin
TIMEZONE=UTC
